<mat-nav-list class="sidenav-list" role="navigation">
  <ng-container *ngFor="let item of navigationItems; trackBy: trackByItem">
    <ng-container *ngIf="canAccess(item)">
      <a
        mat-list-item
        *ngIf="isEnabled(item)"
        [routerLink]="item.route"
        routerLinkActive="active"
        [class.active]="isRouteActive(item.route)"
        (click)="onItemClick(item)"
        class="nav-item"
        [attr.aria-label]="item.label"
        matRipple
        [matRippleColor]="'rgba(0, 0, 0, 0.05)'"
      >
        <mat-icon
          matListItemIcon
          class="nav-icon"
          [class.active-icon]="isRouteActive(item.route)"
        >
          {{ item.icon }}
        </mat-icon>

        <span
          matListItemTitle
          class="nav-label"
          [class.active-label]="isRouteActive(item.route)"
        >
          {{ item.label }}
        </span>
      </a>

      <!-- Disabled State (Optional, but kept for visual consistency if needed) -->
      <div
        mat-list-item
        *ngIf="!isEnabled(item)"
        class="nav-item disabled-nav-item"
        [attr.aria-disabled]="true"
        [attr.aria-label]="item.label + ' (Disabled)'"
      >
        <mat-icon matListItemIcon class="nav-icon disabled-icon">{{
          item.icon
        }}</mat-icon>
        <span matListItemTitle class="nav-label disabled-label">{{
          item.label
        }}</span>
      </div>
    </ng-container>
  </ng-container>
</mat-nav-list>
